*.pyc
*/migrations/*
!*/migrations/__init__.py
.idea
db.sqlite3
media/*
requirements.txt
venv
static
/PaperfulRestAPI/config/domain.py
/PaperfulRestAPI/config/si.py
/PaperfulRestAPI/config/sms_service.py
logs/*
.DS_Store
